<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0001, user-scalable=no">
	<title><%=_T("SIA Cluster")%></title>
	<meta name="description" content="<%= _T("SIA Cluster")%>"/>
	<meta name="keywords" content="SIA Cluster" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="https://SIACluster.com/images/logo-w300.png" />
	<meta property="og:url" content="https://SIACluster.com/" />
	<meta property="og:title" content="<%-_T("SIA Cluster")%>" />
	<meta property="og:site_name" content="SIA Cluster" />
	<meta property="og:locale" content="<%-_T.locale%>" />
	<link rel='canonical' href='https://SIACluster.com/' />
	<link rel='shortlink' href='https://SIACluster.com/' />
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<script type="text/javascript">
		delete Element.prototype.animate;
		var App = {
			user: <%- JSON.stringify(user); %>,
			msg: <%- JSON.stringify(req.flash()); %>
		}
	</script>

	<link rel="stylesheet" type="text/css" href="/app/css/style.css" />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css' />
	<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
	<script src="/combine:js:webcomponentsjs/webcomponents-lite;jquery-2.1.3.min;jquery.easing.1.3;d3.min;underscore-min;scripts:BigInteger.min;scripts:scrypt_impl;scripts:scrypt;app?cache=0"></script>
	<link rel="import" href="/<%-_T.locale%>/combine:html:iris-dom-app;deps;iron-icons:device-icons;iron-iconset-svg:iron-iconset-svg;google-map:google-map?cache=0" />
	<link rel="import" href="/<%-_T.locale%>/combine:html:themes:sia-cluster;sia?cache=0" />

	<!-- link rel="import" href="/icons:/ios/business/org-unit;/ios/editing/drafting-compass;/ios/healthcare/groups;ios/very-basic/about;/ios/media-controls/news;/ios/messaging/link;/win/programming/external-link;/win/very-basic/link;"/ -->

</head>
<body class="loading">
	<div class="showbox">
		<div class="loader">
			<svg class="circular" viewBox="25 25 50 50">
				<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle>
			</svg>
		</div>
	</div>
	<home-view selected="0" ></home-view>
	<script>
		/*try {
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-38986989-1', 'auto');
			ga('send', 'pageview');
		} catch(ex) {
			console.log(ex);
		}*/
	</script>
</body>
</html>
